.content-wrapper {
  background: #e9eaeb;
}
.light-header {
  color: #e8ebf2;
  text-transform: uppercase;
  padding-left: 1rem;
}
.bg-grey {
  background: #f9f9f9;
}
.bg-lite {
  background: #fff;
}
.table-hover__row tbody tr:hover {
  cursor: pointer;
}
.alert-close::before {
  content: 'x';
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.alert-close:hover::before {
  cursor: pointer;
}
